<IfModule mod_rewrite.c>
    RewriteEngine On

    # Define a base para as regras de reescrita
    RewriteBase /kmkz/

    # Se o arquivo ou diretório solicitado não existir, reescreve para o index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ UserManager/public/index.php?route=$1 [L,QSA]
</IfModule>
